---
import Layout from '~/layouts/PageLayout.astro';

const { meta } = Astro.props;
---

<Layout {meta}>
	<section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
		<header>
			<h1
				class="leading-tighter font-heading mb-8 text-center font-bold tracking-tighter text-4xl md:mb-16 md:text-5xl"
			>
				<slot name="title" />
			</h1>
		</header>
		<slot />
	</section>
</Layout>
