---
import Layout from '~/layouts/daisyui/DaisyPageLayout.astro';
import Header from '~/components/widgets/daisyui/DaisyHeader.astro';
import Footer from '~/components/widgets/daisyui/DaisyFooter.astro';
import Cookify from '~/components/core/Cookify/Cookify.astro';
import Logo from '~/components/atoms/Logo.astro';
import { getCanonical, getHomePermalink, getPermalink } from '~/utils/permalinks';

const { meta } = Astro.props;
---

<Layout {meta}>
	<section class="mx-auto max-w-3xl px-6 py-12 sm:px-6 sm:py-16 lg:py-20">
		<header>
			<h1
				class="leading-tighter font-heading mb-8 text-center font-bold tracking-tighter text-4xl md:mb-16 md:text-5xl"
			>
				<slot name="title" />
			</h1>
		</header>
		<slot />
	</section>
</Layout>
