---
import Layout from '~/layouts/BaseLayout.astro';
import { SITE } from '~/config.mjs';
import Styleguide from '~/components/tools/Styleguide.astro';

const title = `Error 404 — ${SITE.name}`;
---

<Layout meta={{ title }}>
<div id="app" class="flex h-full dark:bg-slate-900">
	<div class="font-sans relative w-full min-h-screen flex flex-col">
					<div class="container mx-auto flex px-8 md:px-0" style="">
							<div class="hidden md:block flex-none overflow-y-auto top-16 sticky max-h-screen">
									<nav
											class="relative z-10 bg-white border border-slate-900/5 rounded-lg shadow-xl pl-6 pr-24 py-6 my-auto dark:bg-slate-800 space-y-6 text-sm">
											<div>
													<h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">Customization
													</h5>
													<ul class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800">
															<li>
																	<a href="#Colors"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-sky-500 font-semibold border-current dark:text-gray-200">
																			Colors
																	</a>
															</li>
															<li>
																	<a href="#Screens"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Screens
																	</a>
															</li>
															<li>
																	<a href="#Spacing"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Spacing
																	</a>
															</li>
													</ul>
											</div>
											<div>
													<h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">Typography
													</h5>
													<ul class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800">
															<li>
																	<a href="#Font Family"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Font Family
																	</a>
															</li>
													</ul>
											</div>
											<div>
													<h5 class="mb-8 lg:mb-3 font-semibold text-slate-900 dark:text-slate-200">Sizing</h5>
													<ul class="space-y-6 lg:space-y-2 border-l border-slate-100 dark:border-slate-800">
															<li>
																	<a href="#Width"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Width
																	</a>
															</li>
															<li>
																	<a href="#Max Width"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Max Width
																	</a>
															</li>
															<li>
																	<a href="#Height"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Height
																	</a>
															</li>
															<li>
																	<a href="#Max Height"
																			class="block border-l pl-4 -ml-px border-transparent hover:border-slate-400 dark:hover:border-slate-500 text-slate-700 hover:text-slate-900 dark:text-slate-400 dark:hover:text-slate-300">
																			Max Height
																	</a>
															</li>
													</ul>
											</div>
									</nav>
							</div>
							<div class="md:pl-8 flex-1">
									<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
											id="Colors">
											<div
													class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
											</div>
											<div
													class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
											</div>
											<div
													class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
													Colors
											</div>
											<div class="bg-slate-50 dark:bg-slate-900/50">
													<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
															<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
															<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
															<div class="relative bg-white/40 dark:bg-transparent">
																	<div>
																			<div
																					class="mb-4 bg-white rounded-lg shadow ring-1 ring-slate-700/5 p-2 dark:bg-slate-900 dark:ring-white/10">
																					<p
																							class="text-xs leading-5 font-mono pb-2 border-b border-slate-100 text-slate-500 dark:border-slate-200/10">
																							code
																					</p>
																					<div class="mt-2 flex flex-wrap items-center">
																							<div class="w-6 mr-2 text-[0.625rem]">
																									<div content=".code-highlight<br>rgb(125 211 252 / 0.1)"
																											class="rounded-sm flex-none w-6 h-6 flex items-center justify-center ring-1 ring-slate-900/5"
																											tabindex="0"
																											style="background-color: rgba(125, 211, 252, 0.1)"></div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
											</div>
									</div>
									<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
											id="Screens">
											<div
													class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
											</div>
											<div
													class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
											</div>
											<div
													class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
													Screens
											</div>
											<div class="bg-slate-50 dark:bg-slate-900/50">
													<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
															<div class="absolute inset-0 dark:hidden" style="
					<div
						class=" absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12
																	flex items-center ml-4">
																	Screens
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div class="space-y-6">
																							<div>
																									<div class="mb-2 h-6">
																											<div content="demo-sm:<br>720px"
																													class="flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="max-width: 720px">
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																													<span
																															class="flex-auto text-center text-[0.625rem]">demo-sm</span>
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																											</div>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
															id="Spacing">
															<div
																	class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
																	Spacing
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div>
																							<div class="space-y-6 mt-6">
																									<div>
																											<div content=".[p|m]-18<br>4.5rem"
																													class="flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="width: 4.5rem; height: 4.5rem">
																													<span
																															class="flex-auto text-center text-[0.625rem]">18</span>
																											</div>
																									</div>
																									<div>
																											<div content=".[p|m]-full<br>100%"
																													class="flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="width: 100%; height: 100%">
																													<span
																															class="flex-auto text-center text-[0.625rem]">full</span>
																											</div>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
															id="Font Family">
															<div
																	class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
																	Font Family
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div class="space-y-6">
																							<div content=".text-sans<br>Inter var"
																									class="mb-4 bg-white rounded-lg shadow ring-1 ring-slate-700/5 p-2 dark:bg-slate-900 dark:ring-white/10"
																									tabindex="0">
																									<p
																											class="text-xs leading-5 font-mono pb-2 border-b border-slate-100 text-slate-500 dark:border-slate-200/10">
																											sans
																									</p>
																									<p class="mt-2 leading-none text-2xl text-gray-900 dark:text-gray-500"
																											style="font-family: 'Inter var', Inter">
																											The quick brown fox jumps over the lazy dog.
																									</p>
																							</div>
																							<div content=".text-mono<br>Fira Code VF"
																									class="mb-4 bg-white rounded-lg shadow ring-1 ring-slate-700/5 p-2 dark:bg-slate-900 dark:ring-white/10"
																									tabindex="0">
																									<p
																											class="text-xs leading-5 font-mono pb-2 border-b border-slate-100 text-slate-500 dark:border-slate-200/10">
																											mono
																									</p>
																									<p class="mt-2 leading-none text-2xl text-gray-900 dark:text-gray-500"
																											style="font-family: 'Fira Code VF', 'Fira Code'">
																											The quick brown fox jumps over the lazy dog.
																									</p>
																							</div>
																							<div content='.text-source<br>Source Sans Pro, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"'
																									class="mb-4 bg-white rounded-lg shadow ring-1 ring-slate-700/5 p-2 dark:bg-slate-900 dark:ring-white/10"
																									tabindex="0">
																									<p
																											class="text-xs leading-5 font-mono pb-2 border-b border-slate-100 text-slate-500 dark:border-slate-200/10">
																											source
																									</p>
																									<p class="mt-2 leading-none text-2xl text-gray-900 dark:text-gray-500"
																											style="
												font-family: 'Source Sans Pro', ui-sans-serif, system-ui, -apple-system,
													BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
													'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
											">
																											The quick brown fox jumps over the lazy dog.
																									</p>
																							</div>
																							<div content='.text-ubuntu-mono<br>Ubuntu Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace'
																									class="mb-4 bg-white rounded-lg shadow ring-1 ring-slate-700/5 p-2 dark:bg-slate-900 dark:ring-white/10"
																									tabindex="0">
																									<p
																											class="text-xs leading-5 font-mono pb-2 border-b border-slate-100 text-slate-500 dark:border-slate-200/10">
																											ubuntu-mono
																									</p>
																									<p class="mt-2 leading-none text-2xl text-gray-900 dark:text-gray-500"
																											style="
												font-family: 'Ubuntu Mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
													'Liberation Mono', 'Courier New', monospace;
											">
																											The quick brown fox jumps over the lazy dog.
																									</p>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
															id="Width">
															<div
																	class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
																	Width
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div class="space-y-6" config="[object Object]">
																							<div>
																									<div class="mb-2 h-6 bg-slate-700/5 dark:bg-gray-800">
																											<div content=".w-18<br>4.5rem"
																													class="flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="width: 4.5rem; max-width: 100%">
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																													<span
																															class="flex-auto text-center text-[0.625rem]">18</span>
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																											</div>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
															id="Max Width">
															<div
																	class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
																	Max Width
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div class="space-y-6" config="[object Object]">
																							<div>
																									<div class="mb-2 h-6 bg-slate-700/5 dark:bg-gray-800">
																											<div content=".max-w-screen-demo-sm<br>720px"
																													class="flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="max-width: 720px">
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																													<span
																															class="flex-auto text-center text-[0.625rem]">screen-demo-sm</span>
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																											</div>
																									</div>
																							</div>
																							<div>
																									<div class="mb-2 h-6 bg-slate-700/5 dark:bg-gray-800">
																											<div content=".max-w-8xl<br>90rem"
																													class="flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="max-width: 90rem">
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																													<span
																															class="flex-auto text-center text-[0.625rem]">8xl</span>
																													<div
																															class="flex-none w-0.5 h-1 bg-gray-300 dark:bg-white">
																													</div>
																											</div>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
															id="Height">
															<div
																	class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
																	Height
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div class="space-y-6" config="[object Object]">
																							<div>
																									<div class="mb-2 h-6 bg-slate-700/5 dark:bg-gray-800"
																											style="height: 4.5rem">
																											<div content=".h-18<br>4.5rem"
																													class="flex-col py-1 flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="height: 4.5rem">
																													<div class="w-1 h-0.5 bg-gray-300 dark:bg-white"></div>
																													<span
																															class="inline-flex flex-auto justify-center items-center text-center text-[0.625rem]">18</span>
																													<div class="w-1 h-0.5 bg-gray-300 dark:bg-white"></div>
																											</div>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
													<div class="mb-8 relative z-10 bg-white ring-1 ring-slate-900/5 rounded-lg shadow-xl px-6 pt-12 pb-6 my-auto xl:mt-18 dark:bg-slate-800"
															id="Max Height">
															<div
																	class="absolute inset-x-0 top-12 bottom-6 border-t border-b border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 border-l border-r border-slate-100 pointer-events-none dark:border-slate-700">
															</div>
															<div
																	class="absolute inset-x-6 inset-y-0 text-lg text-black dark:text-slate-200 font-semibold text-slate-500 h-12 flex items-center ml-4">
																	Max Height
															</div>
															<div class="bg-slate-50 dark:bg-slate-900/50">
																	<div class="relative bg-white/40 dark:bg-transparent p-6 font-mono text-xs">
																			<div class="absolute inset-0 dark:hidden" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23cbd5e1\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="hidden absolute inset-0 opacity-5 dark:block" style="
									background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' viewBox=\'0 0 64 6\'%3E%3Crect x=\'32\' width=\'1\' height=\'1\' fill=\'%23f1f5f9\'/%3E%3Crect width=\'1\' height=\'6\' fill=\'%23f1f5f9\'/%3E%3C/svg%3E');
									background-size: 4rem 0.375rem;
								"></div>
																			<div class="relative bg-white/40 dark:bg-transparent">
																					<div class="space-y-6" config="[object Object]">
																							<div>
																									<div class="mb-2 h-6 bg-slate-700/5 dark:bg-gray-800"
																											style="height: 4.5rem">
																											<div content=".max-h-18<br>4.5rem"
																													class="flex-col py-1 flex items-center px-1 bg-white dark:bg-indigo-500 dark:text-slate-200 shadow ring-1 ring-slate-700/5 h-6 rounded-sm"
																													tabindex="0" style="height: 4.5rem">
																													<div class="w-1 h-0.5 bg-gray-300 dark:bg-white"></div>
																													<span
																															class="inline-flex flex-auto justify-center items-center text-center text-[0.625rem]">18</span>
																													<div class="w-1 h-0.5 bg-gray-300 dark:bg-white"></div>
																											</div>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>

		</Layout>
