---
import { getHomePermalink } from '~/utils/permalinks';
---

<section class="flex h-full items-center p-16">
	<div class="container mx-auto my-8 flex flex-col items-center justify-center px-5">
		<div class="max-w-md text-center">
			<h2 class="mb-8 font-bold text-9xl">
				<span class="sr-only">Error</span>
				<span class="bg-gradient-to-r from-primary-500 to-secondary-500 bg-clip-text text-transparent">404</span>
			</h2>
			<p class="font-semibold text-3xl md:text-3xl">Sorry, we couldn't find this page.</p>
			<p class="dark:text-text-mantle-400 mt-4 mb-8 text-mauve-600 text-lg">
				But dont worry, you can find plenty of other things on our homepage.
			</p>
			<a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Back to homepage</a>
		</div>
	</div>
</section>
