---
import { Icon } from 'astro-icon';

const items = [
	{
		title: 'Headers',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:home',
	},
	{
		title: 'Footers',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:faq',
	},
	{
		title: 'Features',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Call-to-Action',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:video-projector',
	},
	{
		title: 'Pricing',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:calculator',
	},
	{
		title: 'Testimonial',
		description:
			'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
		icon: 'flat-color-icons:voice-presentation',
	},
];
---

<section class="relative">
	<div class="bg-primary-50 pointer-events-none absolute inset-0 mb-32 dark:bg-lavender-300" aria-hidden="true"></div>
	<div class="relative mx-auto max-w-6xl px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
			<div class="mb-8 text-center">
				<p class="font-semibold uppercase tracking-wide text-primary-600 text-base dark:text-primary-200">Components</p>
				<h2 class="leading-tighter font-heading mb-4 font-bold tracking-tighter text-4xl md:text-5xl">
					Most used widgets
				</h2>
				<p class="mx-auto max-w-3xl text-center text-mauve-600 text-xl text-mauve-400">
					Provides frequently used components for building websites using Tailwind CSS
				</p>
			</div>
			<div class="my-12 grid items-start gap-6 dark:text-white md:grid-cols-2 lg:grid-cols-3">
				{
					items.map(({ title, description, icon }) => (
						<div class="relative flex flex-col rounded bg-white p-6 shadow-xl transition hover:shadow-lg dark:border dark:border-slate-800 dark:bg-lavender-500">
							<div class="mb-4 flex items-center">
								<Icon name={icon} class="h-12 w-12" />

								<div class="ml-4 font-bold text-xl">{title}</div>
							</div>
							<p class="text-md text-mauve-500 dark:text-mauve-400">{description}</p>
						</div>
					))
				}
			</div>
		</div>
	</div>
</section>
