---
import { Icon } from 'astro-icon';
import { Picture } from '@astrojs/image/components';
---

<section>
	<div class="mx-auto max-w-6xl px-4 sm:px-6">
		<div class="py-12 md:py-20">
			<div class="mx-auto max-w-5xl pb-10 text-center md:pb-16">
				<h1 class="leading-tighter font-heading mb-4 font-bold tracking-tighter text-5xl md:text-[3.50rem]">
					Your website with
					<span>Astro</span> +
					<span class="sm:whitespace-nowrap">Tailwind CSS</span>
				</h1>
				<div class="mx-auto max-w-3xl">
					<p class="mb-8 text-mauve-600 text-mauve-400 text-xl">
						<span class="font-semibold underline decoration-primary-600 decoration-wavy decoration-1 underline-offset-2"
							>Ayame6</span
						> is a production ready template to start your new website using <em>Astro</em> + <em>Tailwind CSS</em>. It
						has been designed following Best Practices, SEO, Accessibility, <span class="inline sm:hidden">...</span
						><span class="hidden sm:inline"
							>Dark Mode, Great Page Speed, image optimization, sitemap generation and more.</span
						>
					</p>
					<div class="m-auto flex max-w-sm flex-col flex-nowrap gap-4 sm:flex-row sm:justify-center">
						<div class="mx-0 flex w-full justify-center px-0 tracking-wide sm:w-auto">
							<a
								class="btn-primary btn w-full flex-1 tracking-wide text-xs sm:mb-0"
								href="https://github.com/ss77a/ayame"
								target="_blank"
								rel="noopener"
							>
								<Icon name="tabler:download" class="w-5 h-5 mr-1 -ml-1.5 inline-block" />
								<span class="inline-block">Get template</span>
							</a>
						</div>
						<div class="flex w-full sm:w-auto">
							<a class="btn w-full tracking-wide text-xs" href="#features">Learn more</a>
						</div>
					</div>
				</div>
			</div>
			<div>
				<div class="relative m-auto max-w-4xl">
					<Picture
						src={import('~/assets/images/hero.jpg')}
						class="mx-auto rounded-md w-full"
						widths={[400, 768, 1480]}
						sizes="(max-width: 767px) 400px, (max-width: 1479px) 768px, 1480px"
						alt="Hero Image"
						aspectRatio={1480 / 833}
						loading="eager"
						width={1480}
						height={833}
					/>
				</div>
			</div>
		</div>
	</div>
</section>
