---
---

<div class="mx-auto max-w-6xl px-4 py-8 sm:px-6 md:py-16 md:px-24 lg:px-8 lg:py-20">
	<div class="row-gap-8 grid grid-cols-2 md:grid-cols-4">
		<div class="mb-10 text-center md:mb-0 md:border-r dark:md:border-slate-500">
			<div class="font-heading font-bold text-primary-500 text-4xl lg:text-5xl xl:text-6xl">132K</div>
			<p class="dark:text-text-mantle-400 font-medium uppercase tracking-widest text-gray-800 text-sm lg:text-base">
				Downloads
			</p>
		</div>
		<div class="mb-10 text-center md:mb-0 md:border-r dark:md:border-slate-500">
			<div class="font-heading font-bold text-primary-500 text-4xl lg:text-5xl xl:text-6xl">24.8K</div>
			<p
				class="dark:text-text-mantle-400 font-medium uppercase uppercase tracking-widest text-gray-800 text-sm lg:text-base"
			>
				Stars
			</p>
		</div>
		<div class="font-heading text-center md:border-r dark:md:border-slate-500">
			<div class="font-bold text-primary-500 text-4xl lg:text-5xl xl:text-6xl">10.3K</div>
			<p class="dark:text-text-mantle-400 font-medium uppercase tracking-widest text-gray-800 text-sm lg:text-base">
				Forks
			</p>
		</div>
		<div class="text-center">
			<div class="font-heading font-bold text-primary-500 text-4xl lg:text-5xl xl:text-6xl">48.4K</div>
			<p class="dark:text-text-mantle-400 font-medium uppercase tracking-widest text-gray-800 text-sm lg:text-base">
				Users
			</p>
		</div>
	</div>
</div>
