---
import { Image } from '@astrojs/image/components';
const {
	width = '95',
	height = '95',
	alt = '',
	classes = 'brand-logo brand align-middle inlne-block dark:invert',
} = Astro.props;
/* add switch for title default to site title and allow another title to be site and switch for wrapper then this can be resused for associate logos too of course url must be prop also */
---

<span
	class="branding ml-2 inline-block flex self-center whitespace-nowrap align-middle font-extrabold text-gray-900 text-2xl dark:text-white"
>
	<Image src={import('~/assets/images/demo/logo.png')} width={width} height={height} alt={alt} class={classes} />
	<span class="brand-text brand inline-block align-middle">ayame</span>
</span>
