---
import { Icon } from 'astro-icon';
import { getRelativeLink } from '~/utils/permalinks';
const { prevUrl, nextUrl, prevText = 'Newer posts', nextText = 'Older posts' } = Astro.props;
---

{
	(prevUrl || nextUrl) && (
		<div class="container flex">
			<div class="container mx-auto flex flex-row justify-between">
				<a href={getRelativeLink(prevUrl)} class={`btn-ghost btn ${!prevUrl ? 'invisible' : ''}`}>
					<div class="flex flex-row align-middle">
						<Icon name="tabler:arrow-left" class="h-6 w-6" />
						<p class="ml-2">{prevText}</p>
					</div>
				</a>
				<a href={getRelativeLink(nextUrl)} class={`btn-ghost btn px-3 ${!nextUrl ? 'invisible' : ''}`}>
					<div class="flex flex-row align-middle">
						<span class="mr-2">{nextText}</span>
						<Icon name="tabler:arrow-right" class="h-6 w-6" />
					</div>
				</a>
			</div>
		</div>
	)
}
