---
import { Picture } from '@astrojs/image/components';
import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';

const { post } = Astro.props;

const image = await findImage(post.image);
---

<article class="mb-6 transition">
	<div class="relative mb-6 h-0 overflow-hidden rounded bg-gray-400 pb-[56.25%] shadow-lg dark:bg-mauve-200">
		{
			image && (
				<Picture
					src={image}
					class="w-full rounded bg-gray-400 object-cover shadow-lg dark:bg-mauve-200"
					widths={[400, 900]}
					sizes="(max-width: 900px) 400px, 900px"
					alt={post.title}
					aspectRatio="16:9"
				/>
			)
		}
	</div>
	<h3 class="font-heading mb-2 font-bold leading-snug text-xl sm:text-2xl">
		<a
			href={getPermalink(post.slug, 'post')}
			class="underline decoration-dotted decoration-1 underline-offset-4 transition duration-200 ease-in hover:text-primary-600"
		>
			{post.title}
		</a>
	</h3>
	<p class="text-mantle-700 dark:text-mauve-400">{post.excerpt || post.description}</p>
</article>
