---
import Grid from '~/components/blog/Grid.astro';

import { findPostsByIds } from '~/utils/posts';

const ids = [
	'npm-package-modification-in-ayame',
	'get-started-website-with-astro-tailwind-css',
	'catppuccin-daisyui-theming',
	'how-to-customize-ayame-to-your-brand',
	'useful-resources-to-create-websites',
	'ayame-template-in-depth',
];
const posts = await findPostsByIds(ids);
---

<section class="mx-auto max-w-6xl px-4 py-16 lg:py-20">
	<div class="mb-6 flex flex-col md:mb-8 lg:flex-row lg:justify-between">
		<h2 class="font-heading group mb-2 max-w-lg font-bold tracking-tight text-3xl sm:leading-none sm:text-4xl lg:mb-5">
			<span class="mb-1 inline-block sm:mb-4">Find out more content<br class="hidden md:block" /> in our Blog</span>
		</h2>

		<p class="dark:text-text-mantle-400 text-gray-700 lg:max-w-md lg:text-sm">
			The blog will be used to display ayame documentation. Each new article will be an important step that you will
			need to know to be an expert in creating a website using Astro + Tailwind CSS The blog does not exist yet, but
			very soon. Astro is a very interesting technology. Thanks.
		</p>
	</div>

	<Grid posts={posts} />
</section>
