---
import 'node_modules/daisyui/dist/themes.css';
import 'node_modules/daisyui/dist/styled.css';

import '../assets/css/base.css';

import MetaTags from '~/components/core/MetaTags.astro';
import BasicScripts from '~/components/core/BasicScripts.astro';

const { meta = {} } = Astro.props;
---

<!DOCTYPE html>
<html id="root" lang="en" class="mochaOnWhite dark:mochaOffBlack motion-safe:scroll-smooth font-light 2xl:text-[20px]">
	<head>
		<MetaTags {...meta} />
	</head>

	<body class="mochaOnWhite dark:mochaOffBlack antialiased bkgd text-0-500 dark:text-0-100 tracking-tight dark:bkgd">
		<slot />
		<BasicScripts />
		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
